Bespoke.Common.Osc/bin/
Samples/CS/Transmitter/obj/
Samples/VB/Receiver/bin/
Samples/CS/Transmitter/bin/
Samples/VB/Receiver/obj/
Samples/VB/Transmitter/obj/
Samples/VB/Transmitter/bin/
Samples/CS/Receiver/obj/
Bespoke.Common.Osc/obj/
Samples/CS/Receiver/bin/
Bespoke.Common.Osc.Test/bin/
Bespoke.Common.Osc.Test/obj/
Help/
.vs/
Bespoke.Osc/obj/
Bespoke.Common/bin/
Bespoke.Common/obj/
